.App {

    max-width: 500px;
    width: 100%; 
    margin : 0 auto ; 
    box-sizing : border-box; 
    border : 1px solid gray;    /* 개발 완료시 주석 처리 */
    padding : 20px; 
    display : flex ; 
    flex-direction: column;
    gap : 30px ; 
}